<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="ko-kr">
        <title>Hello World</title>
        <script type="text/javascript" src="/js/fetch.umd.min.js"></script>
        <script type="text/javascript">
            /* For chatting */
            let socket = null;
            let chatName = '';
            function connectServer(elem) {
                if(elem.value === "연결") {
                    chatName = document.getElementById("user_name").value;
                    window.fetch("/chat/"+chatName+"/check")
                    .then(function(res) {
                        return res.json();
                    })
                    .then(function(result) {
                        if(result.status === "good") {
                            socket = new WebSocket("ws://localhost:5000");
                            socket.addEventListener("open", () => {
                                const msgData = {msg: "'s commin", sender: chatName};
                                socket.send(JSON.stringify(msgData));
                            });
                            socket.addEventListener("message", event => {
                                console.log(`Message from server: ${event.data}`);
                                const oTexts = document.getElementById("messages").innerHTML;
                                document.getElementById("messages").innerHTML = `${oTexts}<p>${event.data}</p>`;
                            });
                            document.getElementById("btn_conn").value = "종료";
                        } else {
                            alert("이름이 중복됩니다.");
                        }
                    })
                    .catch(function(r) {
                        console.error(r);
                    });
                } else {
                    window.fetch("/chat/"+chatName+"/out")
                    .then(function(res) {
                        return res.json();
                    })
                    .then(function(result) {
                        if(result.status === "good" && socket !== null) {
                            socket.close();
                            socket = null;
                            const oTexts = document.getElementById("messages").innerHTML;
                            document.getElementById("messages").innerHTML = `${oTexts}<p>연결이 종료되었습니다.</p>`;
                            document.getElementById("btn_conn").value = "연결";
                        }
                    })
                    .catch(function(r) {
                        console.error(r);
                    });
                }
            }
            function sendMsg() {
                if(socket === null) {
                    alert("먼저 연결 버튼을 누르세요");
                    return;
                }
                const textMsg = document.getElementById("message_field").value;
                document.getElementById("message_field").value = "";
                const msgData = {msg: textMsg, sender: chatName};
                socket.send(JSON.stringify(msgData));
            }
        </script>
        <script type="text/javascript">
            function exitEvent() {
                if(socket !== null) {
                    alert("연결을 종료하지 않으면 해당 이름을 다시 사용하실 수 없습니다.");
                    return "";
                }
            };
        </script>
    </head>
    <body onbeforeunload="return exitEvent()">
        <input type="text" id="user_name" value="<%=chatName %>">
        <input type="button" value="연결" id="btn_conn" onclick="connectServer(this);">
        <div class="messages" id="messages"></div>
        <input type="text" id="message_field" onkeyup="if(event.keyCode === 13) sendMsg();">
        <input type="button" value="보내기" onclick="sendMsg();">
    </body>
</html>